* {
	padding: 0;
	margin: 0;
	font-family: Tahoma, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	a {
		text-align: center;
		width: 100%;
		border-bottom: 1px solid gray;
		font-size: 18px;
		min-height: 50px; // avoid fatfingering wrong button
		padding: 5px 0;

		// remove link styling
		text-decoration: none;
		color: black;

		// align text inside <a>
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.btn-back {
		color: red;
	}
}